apiVersion: v1
kind: Service
metadata:
  namespace: demo1-loadbalancer
  name: nginx-loadbalancer
  labels:
    app: nginx
spec:
  type: LoadBalancer
  selector:
    app: nginx
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
